body {
  padding-top: 70px;
  background: linear-gradient(to top left, #2a3757 60%, #39ada0 40%) no-repeat
    center fixed;
  color: white;
}
.jumbotron {
  background-image: url(/img/jumbotron.jpg);
  background-size: cover;
  color: #74ffe3;
  font-family: "Acme", sans-serif;
}
.navbar-brand {
  font-weight: bold;
  font-family: "Lobster", cursive;
  font-size: 20px;
}
.navbar-inverse {
  background-color: #39ada0;
  color: white;
  border: transparent;
}
a {
  color: white !important;
}
.navbar {
  border-radius: 5px;
}
/* .carousel {
    width: 800px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
} */
